<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spelling Correction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>
<body>
<br/>
<br/>
<br/>
    <div class="container">
        
        <form method="POST" action="/process">
            <div class="form-group">
                    <label>Your Text</label>
            <textarea type="text" rows="5" cols="5" class="form-control"  name="rawtext" required="true"></textarea>
            <br/>
			</select>
			<br/>
            <button type="reset" class="btn btn-primary"><i class="fa fa-eraser"></i> Clear</button>
            <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
         
        </div>
        </form>
    </div>

    <div class="container">
    	<div class="alert alert-success" role="alert">
        <p class="alert-heading">Result</p>
        <p>Câu sai : {{rawtext}}</p>
        <p>Câu sửa : {{results}}</p>
    	</div>
    </div>
</body>
</html>